#carousel{
    width: 100%;
    @include media("<medium") {
        height: 200px;
      }
      @include media(">=medium", "<large") {
        height: 400px;
      }
      @include media(">=large") {
        height: 500px;
      }
    color: $white;
    #arrow-carousel-right{
      position: relative;
      @include vertical-center(0%);
    }
    #arrow-carousel-left{
      position: relative;
      @include vertical-center(50%);
    }
    .carousel-slides {
      display: none;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      color: $white;
      @include media("<medium") {
        height: 200px;
      }
      @include media(">=medium", "<large") {
        height: 400px;
      }
      @include media(">=large") {
        height: 500px;
      }
      .carousel-content {
        font-style: italic;
        text-align: right;
        overflow: hidden;
        position: relative;
        @include vertical-center(0%);
        @include media("<medium") {
          font-size: 1.2em;
          font-weight: 600;
        }
        @include media(">=medium", "<large") {
          font-weight: 300;
          font-size: 2.5em;
        }
        @include media(">=large") {
          font-weight: 300;
          font-size: 3em;
        }
      }
    }
    img {
      position: fixed;
      @include media("<medium") {
        top: 15%;
      }
      @include media(">=medium", "<large") {
        top: -50%;
      }
      @include media(">=large") {
        top: -30%;
      }
      left: 50%;
      transform: translate(-50%, 0%);
      margin: 0 auto;
      z-index: -10;
    }
    .arrow-carousel{
      font-family: serif;
      @include transition(color 0.2s);
      &:hover{
        cursor:pointer;
        color: gray;
      }
    }
    #arrow-carousel-right{
      text-align: right;
    }
    .hide-arrow {
      visibility: hidden;
    }
}