#carousel{
    width: 100%;
    height: 400px;
    color: $white;
    #arrow-carousel-right{
      position: relative;
      @include vertical-center(0%);
    }
    #arrow-carousel-left{
      position: relative;
      @include vertical-center(50%);
    }
    .carousel-slides {
      display: none;
      position: relative;
      height: 400px;
      overflow: hidden;
      .carousel-content {
        font-style: italic;
        font-weight: 100;
        text-align: right;
        font-size: 3em;
        overflow: hidden;
        /*http://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/
        /*&:before {
          content:                    '...';
          text-align:                 right;
          position:                   absolute;
          display:                    block;
          width:                      2em;
          height:                     1em;
          bottom:                     1em;
          right:                      20px;
          background: -moz-linear-gradient(left,  rgba(224,224,224,0) 0%, rgba(224,224,224,1) 38%, rgba(224,224,224,1) 99%);
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,224,224,0)), color-stop(38%,rgba(224,224,224,1)), color-stop(99%,rgba(224,224,224,1)));
          background: -webkit-linear-gradient(left,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 38%,rgba(224,224,224,1) 99%);
          background: -o-linear-gradient(left,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 38%,rgba(224,224,224,1) 99%);
          background: -ms-linear-gradient(left,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 38%,rgba(224,224,224,1) 99%);
          background: linear-gradient(to right,  rgba(224,224,224,0) 0%,rgba(224,224,224,1) 38%,rgba(224,224,224,1) 99%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0e0e0', endColorstr='#e0e0e0',GradientType=1 );
        }*/
      }
    }
    .carousel-blue {
      background-color: blue;
      color: $white;
    }
}