#footer {
  background-color: white;
  .columns{
    text-align: center;
    font-size: 3.5em;
    @include media("<medium"){
      font-size: 2.5em;
    }
    opacity: 1;
    &:not(:last-child){
      @include transition(opacity 0.2s);
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .footer-facebook {
    background-color: purple;
    color: yellow;
  }
  .footer-github {
    background-color: red;
    color: green;
  }
  .footer-instagram {
    background-color: orange;
    color: blue;
  }
  .footer-signature{
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color:white;
    font-size: 0.9em;
    font-family: $font-footer;
    font-style: normal;
    text-align: center;
    a {
      color: white;
      text-decoration: underline;
      opacity: 1;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}