#modal{

  .columns {
    padding: 0;
    background-color: white;
  }
  .modal-container{
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    opacity: 1;
    @include transition(opacity 0.2s);
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}