#multi-column{
  div {
    padding-left: 0;
    padding-right: 0;
    video {
      width: 100%;
      height: auto;
      transform: rotateY(180deg);
      -webkit-transform:rotateY(180deg); /* Safari and Chrome */
      -moz-transform:rotateY(180deg); /* Firefox */
    }
  }
}